@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;1,400");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Asap, sans-serif;
  background: #111;
  overflow-x: hidden;
}

/* Estilos para el header y nav */
header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
  background-color: transparent;
  pointer-events: none;
}

header .inner {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 70px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  background-color: transparent;
  pointer-events: none;
}

nav {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 44.72px;
  pointer-events: none;
  margin-top: 10px;
}

.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-shadow: #000 0 0 10px;
  z-index: 1;
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
  }
}

.item {
  position: relative;
  flex: calc(100vw / 6) 1 1;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  filter: saturate(90%);
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center;
  min-height: 100vh;
}

.item.expanded {
  flex-basis: 40%;
  filter: saturate(120%);
}

.item.fully-expanded {
  cursor: pointer;
}

.item.clicked {
  flex: 1 0 100vw;
  filter: saturate(90%);
}

@media (min-width: 1024px) {
  .item.expanded {
    flex-basis: 75%;
  }
  
  .item.clicked {
    flex-basis: 100% !important;
  }
}

.item:before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(25deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  z-index: 2;
}

.item:not(:last-child) {
  border-right: 1px solid #ccc;
  animation: borderPulse 5s infinite;
}

@media (min-width: 1024px) {
  .item:not(:last-child) {
    /* mantener explícitamente el borde derecho en pantallas grandes */
    border-right: 1px solid #ccc;
  }
}

.item:nth-child(1).expanded {
  background-position: center center;
}

.quote {
  position: absolute;
  color: #fff;
  bottom: 10%;
  left: 50%;
  width: 80%;
  max-width: 32vw;
  opacity: 0;
  transition: 1s;
  transform: translate(-50%, 50%);
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

@media (min-width: 512px) {
  .quote {
    left: 50%;
    bottom: 10%;
    width: 60%;
    max-width: 22vw;
  }
}

@media (min-width: 1024px) {
  .quote {
    left: 50%;
    bottom: 10%;
    width: 50%;
    max-width: 18vw;
  }
}

.quote p {
  position: relative;
  display: inline-block;
  margin-bottom: 1.7rem;
  font-size: 2.1rem;
  text-wrap: balance;
  font-style: italic;
  text-align: center;
}

.quote p:before,
.quote p:after {
  position: absolute;
  font-size: 3.5rem;
  opacity: 0.6;
}

.quote p:before {
  content: '"';
  top: 4rem;
  left: -2rem;
  transform: translate(-100%, -100%);
}

.quote p:after {
  content: '"';
  bottom: 2rem;
  right: -2rem;
  transform: translate(100%, 100%);
}

.quote p span:first-child {
  font-size: 1.2rem;
  font-weight: normal;
  display: block;
}

.quote p span:not(:first-child) {
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  margin-top: 0px;
}

.item.expanded .quote,
.item:hover .quote {
  opacity: 1;
  transform: translate(-50%, 0);
}

@keyframes borderPulse {
  0%, 100% {
    border-color: #cccccc;
  }
  25%, 75% {
    border-color: rgba(204, 204, 255, 0.9);
  }
  50% {
    border-color: rgba(204, 204, 255, 0.5);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gallery-content {
  animation: fadeIn 0.5s ease-in-out;
  z-index: 4;
}